
       
        body {
            background-color: black;
            color: whitesmoke;
        }
*{
    margin: 0
    padding:0 
}

.box{
display: inline-block;
margin-block: 3px;
margin-left: 10px;
padding: 10px 10px 10px;
}
.icons{

}
.main{
margin-left: 30px;
position:absolute;
}
body,html{
margin:15px;
padding:0;
}

header{
width:95%;
height:70px;
background color:#282828;
font-family: 'Spartan', sans-serif;
}

h1{
position:absolute;
padding:3px;
float:left;
margin-left:2%;
margin-top:10px;
font-family: 'Montserrat', sans-serif;
}

span{
color:#ffffff
}

ul{
width:auto;
float:right;
margin-top:8px;
color:#00ff00;
}

ul{
width:auto;
float:right;
margin-top:8px;
color:#00ff00;
}

li{
display:inline-block;
padding:10px 25px;
color:#00ff00;

}

a{
text-align:center;
color:#00ff00
}
.icons{
    float: right;
    margin-left: 10px;
    padding-inline: 20px;
    margin-top: 25px;
    margin-left: 2px;